alabaster~=0.7.12
Babel~=2.8.0
beautifulsoup4~=4.9.1
certifi~=2020.6.20
chardet~=3.0.4
css-html-js-minify~=2.5.5
docutils~=0.16
idna~=2.10
imagesize~=1.2.0
Jinja2~=2.11.2
lxml~=4.5.2
m2rr~=0.2.3
MarkupSafe~=1.1.1
mistune~=0.8.4
packaging~=20.4
Pygments~=2.6.1
pyparsing~=2.4.7
python-slugify~=4.0.1
pytz~=2020.1
requests~=2.24.0
six~=1.15.0
snowballstemmer~=2.0.0
soupsieve~=2.0.1
Sphinx~=3.2.1
sphinx-material~=0.0.30
sphinxcontrib-applehelp~=1.0.2
sphinxcontrib-devhelp~=1.0.2
sphinxcontrib-htmlhelp~=1.0.3
sphinxcontrib-jsmath~=1.0.1
sphinxcontrib-qthelp~=1.0.3
sphinxcontrib-serializinghtml~=1.1.4
text-unidecode~=1.3
Unidecode~=1.1.1
urllib3~=1.25.10
